label {
    align-items: center;
    background: #222;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    height: 35px;
    justify-content: space-between;
    transition: 0.3s;
    padding: 0 6px;
    position: relative;
    width: 75px;
}

label i {
    font-size: 15px;
}

label .fa-sun {
    color: gold;
    transition: 0.3s;
    opacity: 1;
}

label .fa-moon {
    color: #fff;
    transition: 0.3s;
    opacity: 0;
}

input:checked+label .fa-sun {
    opacity: 0;
    transform: translateX(-43px) rotate(160deg);
}

input:checked+label .fa-moon {
    transform: translateX(0), rotate(0);
    opacity: 1;
}

label .ball {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked+label .ball {
    transform: translateX(40px);
    background: #222;
}

input:checked+label .fa-moon {
    transform: translateX(0);
}

input:checked+label {
    background: #c0c0c0;
}

input {
    display: none;
}

label .fa-moon {
    transform: translateX(43px) rotate(250deg);
}