/*Reset CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

/*Configurações auxiliares*/

.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.wide {
    width: 100%;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: lightslategray
}

header {
    line-height: 70px;
}

#menu-topo li {
    display: inline;
    padding: 15px;
}

.destaque {
    background-image: url('/assets/img-fundo.jpg');
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
}

.destaque-conteudo {
    align-items: center;
   background-color: rgba(34, 166, 142, .7);
   border: 1px solid white;
   border-radius: 3px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   width: 40%;
   height: 40%;
}

.destaque h1 {
    text-align: center;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-pics {
    display: flex;
}

.services-pics img {
    max-width: 250px;
    height: 155px;
    margin: 10px
}

.services-pics figcaption {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #4E987D;
    padding-bottom: 20px;
    margin: 10px;
}

.rota {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rota iframe {
    width: 100%;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-cards {
    display: flex;
    flex-flow: row wrap;
}

.card {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    max-width: 250px;
}

.card img {
    max-width: 100px;
}

.contato {
    background-color: #49997C;
    color: white;
    display: flex;
    justify-content: space-evenly;
    line-height: 50px;
}

.contato-card {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.contato-card p {
    display: inline;
}