/*Reset CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

/*Configurações auxiliares*/

.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.wide {
    width: 100%;
}

.topo {
    display: flex;
    justify-content: space-evenly;
}

.topo a {
    text-decoration: none;
    text-transform: uppercase;
    color: lightslategray
}

header {
    line-height: 70px;
}

#menu-topo li {
    display: inline;
    padding: 15px;
}

.destaque {
    background-image: url('assets/img-fundo.jpg');
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
}

.main-title {
    font-size: 44px;
}

.subtitle {
    font-size: 30px;
}

.destaque-conteudo {
    align-items: center;
   background-color: rgba(34, 166, 142, .7);
   border: 1px solid white;
   border-radius: 3px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   width: 40%;
   height: 40%;
}

.destaque h1 {
    text-align: center;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    font-weight: normal;
    margin: 50px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}

.section-text {
    line-height: 40px;
    text-align: center;
    margin: 20px;
}

.services-pics {
    display: flex;
}

.services-pics img {
    max-width: 250px;
    height: 155px;
    margin: 10px
}

.services-pics figcaption {
    border-bottom: 2px solid #4E987D;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin: 10px;
}

.rota {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rota iframe {
    margin: 20px;
    width: 100%;
}

.sobre {
    align-items: space-evenly;
    display: flex;
    flex-direction: column;
}

.sobre-cards {
    display: flex;
    flex-flow: row wrap;
    margin: 50px;
}

.card {
    display: flex;
    flex-flow: row nowrap;
    margin: 15px;
}

.card-text{
    display: flex;
    font-size: 14px;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}

.card-info {
    width:300px;
}

.card-img {
    justify-self: center;
    height: 100px;
    margin: 10px;
    width: 100px;
    object-fit: cover;
}

.contato {
    align-items: center;
    background-color: #49997C;
    color: white;
    display: flex;
    justify-content: space-evenly;
    line-height: 50px;
    padding-bottom: 30px;
}

.contato-card {
    align-items: center;
    display: flex;
    font-size: 14px;    
    justify-content: center;
    margin-top: 30px;
    width: 300px;
}

.contato-card img {
    width: 30px;

}

.contato-card p {
    display: inline;
    margin-left: 10px;
    line-height: 20px;
}

/* Página Quartos */

.destaque-quartos {
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.main-rooms {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.single-rooms,
.family-rooms {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rooms-pictures{
    display: flex;
}

.rooms-pictures img {
    width: 275px;
    margin: 5px;
}

.room-info {
    display: flex;
    justify-content: center;
    max-width: 95%;
}

.room-info-title {
    font-size: 18px;
    font-weight: bold;
    margin: 30px;
}

.room-details {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 70%;
    margin-bottom: 30px;
}

.room-details li {
    margin: 10px;
    line-height: 35px;
    width: 210px;
}